git add .
    git commit -m "Atualização de projeto para cadastro de novos clientes; exibição dos clientes em ordem alfabética na tela clientes; realização de updade de cadastro do cliente existente na base de dados; busca de clientes por nome na tela clientes."
    git push PBAPP main
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laboratorio.pbapp">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.PBApp"
        android:supportsRtl="true"
        android:label="PBApp">

        <activity android:name=".view.EstoqueActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ClienteActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.ClientesActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.NovaVendaActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.NovoClienteActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.NovoProdutoActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.ProdutoActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.RelatorioActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
        <activity android:name=".view.VendasActivity" android:exported="true" android:theme="@style/Theme.PBApp"/>
    </application>
</manifest>
